p, h1, h2, h3, h4, h5, h6, a, td, th, ol, ul, li, figcaption
{
	font-family: "Liberation Sans", Arial, "Noto Sans Symbols2", Symbola, sans-serif;
	font-variant-emoji: text;
	font-size: 11pt;
	text-align: justify;
	font-weight: normal;
	text-decoration: none;
}

h1
{
	font-size: 24pt;
	text-align: center;
}

h2
{
	font-size: 20pt;
	text-align: center;
}

h3
{
	font-size: 16pt;
	text-align: center;
}

h4
{
	font-size: 14pt;
	text-align: center;
}

ol
{
	list-style-type: decimal;
}

ol > li > ol
{
	list-style-type: lower-latin;
}

body
{
	counter-reset: figure;
}

figcaption
{
	font-weight: bold;
}

figcaption::before
{
	content: "Fig. " counter(figure) ": ";
}

figure
{
	counter-increment: figure;
	border: 2px solid gray;
	border-radius: 15px;
	padding: 5px;
	width: min-content;
	width: -moz-min-content;
}

blockquote
{
	padding-left: 6px;
	border-left: 2px solid gray;
	color: gray;
}

a {text-decoration:underline}
a:link {color:#0000ff}
a:visited {color:#8080ff}
a:hover {color:red}
a:active {color:red}
a:link[href^="http"] {color:#008000}
a:visited[href^="http"] {color:#40c040}
a:hover[href^="http"] {color:red}
a:active[href^="http"] {color:red}
